PORT=3000

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
EDITOR_BUCKET=editor-projects

# Set in Phase 2 (deploy)
CONTAINER_MANAGEMENT_URL=http://127.0.0.1:5000
